@import '../../vars.css';

.container {
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 79px;
}
.title {
  font-size: 35px;
  font-weight: 700;
  line-height: 44.1px;
  letter-spacing: 0.05em;
  text-align: left;
}
.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 45px;
  margin-top: 40px;
}
