@import '../../vars.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playwrite+PT:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 69px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.content > * {
  animation: enter 0.6s ease both;
  animation-delay: calc(var(--delay) * var(--stagger));
  --delay: 120ms;
  margin: 20px 64px;
}
@keyframes enter {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.title {
  font-size: 72px;
  font-weight: 900;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.description {
  font-size: 25px;
  font-weight: 400;
}
.contactBtn {
  border-radius: 100px;
  background-color: var(--color-primary);
  color: var(--color-text);
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  padding: 17px 26px;
  /* box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25); */
}
.heroImg {
  width: 50%;
  z-index: 1;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  top: 246px;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}
@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }
  .heroImg {
    width: 80%;
  }
  .content {
    align-items: center;
  }
  .description {
    line-height: 1.5;
    /* padding-right: 70px; */
    width: 100%;
    font-size: 20px;
  }
  .contactBtn {
    border-radius: 70px;
    font-size: 19px;
  }
}
